#schdlr {
    color: #2b7cff;
}

#submitRow {
    clear: both;
    padding-top: 2%;
}

#numForms{
    max-width: 100px;
    margin-right:2%;
}

.has-danger{
    color:red;
}

.leftText {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.classField {
    max-width: 200px;
}

.fullScreen {
    height: 100vh;
    width: 100%;
    background-color: #eff5ff;
}

.row {
    margin-left: 0%;
}

.container-fluid{
    padding-left: 0%;
}

.col-lg-6, .col-lg-3{
    padding-left: 0%;
}

.col-lg-3{
    float: left;
}

label {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

